# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# IDE
.vscode/
.idea/

# Tests / tools
.pytest_cache/
.coverage

# Build
build/
dist/
*.egg-info/

# Environment variables / secrets
.env
.env.*

# Power BI files
*.pbix
*.pbit

# Temporary files
*.log
*.tmp